<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="userDao" class="org.wzh.smallspring.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

  <bean id="userService" class="org.wzh.smallspring.test.bean.UserService">
    <property name="uid" value="10001"/>
    <property name="company" value="Tencent"/>
    <property name="location" value="Shenzhen"/>
    <property name="userDao" ref="userDao"/>
  </bean>

</beans>