<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="userDao" class="org.wzh.smallspring.test.bean.UserDao"/>

  <bean id="userService" class="org.wzh.smallspring.test.bean.UserService">
    <property name="uid" value="10001"/>
    <property name="company" value="Tencent"/>
    <property name="location" value="Shenzhen"/>
    <property name="userDao" ref="userDao"/>
  </bean>

  <bean class="org.wzh.smallspring.test.common.MyBeanPostProcessor"/>
  <bean class="org.wzh.smallspring.test.common.MyBeanFactoryPostProcessor"/>

</beans>